/* 전체 영역에 적용될 내용 시작 */

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 전체 영역 끝 */


/* header 시작 */
header .header-memberLine {
    background-color: #5c0931;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
}

.header-memberLine .memberMenu {
    float: right;
}
.header-memberLine .memberMenu li {
    display: inline-block;
    padding: 0px 10px;
}
/* header - nav 시작 */
.nav-mainMenu .mainMenu {
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-align: center;
}

.nav-mainMenu h1 {
    text-align: center;
}

.nav-mainMenu .mainMenu li {
    display: inline-block;
    width: 20%;
    font-size: 18px;
}

.nav-mainMenu .mainMenu li span {
    padding: 10px 25px;
    color: #5c0931;
    border-bottom: 0px solid #5c0931;
}

.nav-mainMenu .mainMenu li:hover span {
    border-bottom: 3px solid #5c0931;
    transition: border 0.1s linear;
}

/* header - nav 끝 */
/* header 끝 */

/* footer 시작 */
footer {
    color: #5c0931;
    padding: 20px 20px 10px 20px;
}

footer .companyTotalInfo {
    border-top: 1px solid #5c0931;
    margin-bottom: 30px;
}

footer .companyInfo span,
footer .companyServiceCenter span {
    display: block;
}

footer .copyright {
    border-top: 2px solid #ccc;
}

footer .copyright span {
    display: block;
    color: #aaa;
    padding: 10px 0px;
}
/* footer 끝*/

/* 입찰 모달창 시작*/
section .modal-bidding {
    border-radius: 0px;
    padding: 10px;
}

.modal-bidding .modal-bidding-header {
    padding: 0px 32px;
    border-bottom: 0px;
}

#deadline {
    color: #5c0931;
    font-weight: 700;
    font-size: 14px;
}

.modal-bidding-body .bidding-history {
    overflow-y: auto;
    width: 550px;
    height: 96px;
    margin: 0 auto;
}

    /* 입찰내역 스크롤바 시작*/
.modal-bidding-body .bidding-history::-webkit-scrollbar {
    width: 5px;
}
.modal-bidding-body .bidding-history::-webkit-scrollbar-thumb {
    background-color: #5c0931;
    border-radius: 10px;
}
.modal-bidding-body .bidding-history::-webkit-scrollbar-button { 
    display: none;
}
    /* 입찰내역 스크롤바 끝*/

    /* 입찰내역 테이블 시작*/
.bidding-history table {
    width: 100%;
}

.bidding-history table td {
    padding: 2px 10px;
}

.bidding-history table .history-id {
    width: 25%
}
.bidding-history table .history-date {
    width: 35%;
    text-align: center;
}
.bidding-history table .history-highprice {
    width: 20%;
    text-align: center;
}
.bidding-history table .history-price {
    width: 20%;
    text-align: right;
}
.bidding-history table .high {
    color: #ffffff;
    background-color: #5c0931;
}
    /* 입찰내역 테이블 끝*/

.bidding-history-wrap .bidding-state-wrap {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.bidding-state-wrap ul li {
    margin: 5px 0;
}

.bidding-state-wrap .price-state {
    float: left;
}

.bidding-state-wrap .fee-state {
    float: right;
}

.fee-state ul li a {
    text-decoration: none;
    color: #5c0931;
    font-weight: 700;
}

    /* 툴팁메세지 시작 */
.fee-state-tooltip + .tooltip > .tooltip-inner {
    background-color: #eeeeee; 
    color: #000000; 
    padding: 5px;
    
    width: 120px;
    margin-left: -60px;

    box-shadow: 3px 3px 3px #aaa;

    position: fixed;
    z-index: 10;
  }
.fee-state-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #eeeeee;
}

.tooltip-message .tooltip-title {
    color: #5c0931;
    font-weight: 700;
}
    /* 툴팁메세지 끝*/

    /* 입찰 금액 쓰는 칸 */
.bidding-form .bid-line {
    padding: 20px;
}

.bid-line .bid-price {
    width: 100px;
    padding: 5px;
    text-align: center;
}

.bid-line .bid-price::-webkit-outer-spin-button,
.bid-line .bid-price::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}

    /* 입찰하기 버튼*/
.bidding-form .btn-bid {
    background-color: #5c0931;
    color: #ffffff;
    border-radius: 0;

    font-weight: 600;
}
/* 입찰 모달창 끝*/